:root {
    --primary: #5577BA;
    --secondary: #1e326e;
    --background: #DFDBDB;
    --text: #827C7C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*******************
BUTTONS
*******************/
button, .link-button {
    background-color: var(--primary);
    color: white;
    padding: 4px;
    margin: 0 4px;
}

/*******************
HEADER
*******************/
header {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
}

header h1 {
    padding: 4vh;
}

/*******************
MAIN
*******************/
main {
    display: flex;
    min-height: 100vh;
}


/*******************
NAV ALL LISTS
*******************/
.all-lists {
    background-color: var(--secondary);
    width: 17vw;
    color: var(--text);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.list-item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.list-item:hover {
    background-color: var(--primary);
    color: white;
}

.list-item-picked {
    background-color: var(--primary);
    color: white;
}

.create-list-button {
    display: flex;
    align-self: center;
    margin: 10px;
}

/*******************
MAIN NOTES
*******************/
.main-section {
    background-color: var(--background);
    text-align: center;
    width: 85%;
    padding: 40px;
    color: var(--text);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-section-header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-section-header h1 {
    width: 85%;
}

/*.main-section-header button {*/
/*    !*display: flex;*!*/
/*    !*justify-self: flex-end;*!*/
/*    float: right;*/
/*}*/

.hyper-link {
    color: blue;
}

.hyper-link:hover {
    text-decoration-line: underline;
}

.all-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background-color: white;
    width: 30%;
    min-width: 300px;
    margin: 10px;
    padding: 40px 10px 80px 10px;
    border-radius: 20px;
}

.note h2 {
    padding-bottom: 20px;
}

.note p {
    white-space: pre-wrap;
    word-wrap:break-word;
}

/*******************
CREATE NOTES FORM
*******************/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 40%;
}

.form input, select {
    margin: 20px;
    height: 30px;
    width: 100%;
}

.form textarea {
    margin: 20px;
    height: 100px;
    width: 100%;
}

#add-note-button {
    align-self: flex-end;
}

.errorMessage {
    color: #9d3737;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*******************
IMAGES IN EDIT-NOTE WITH DELETE
*******************/

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
/*******************
SEARCH FIELD
*******************/
.dropdown {
    position: absolute;
    border: 1px solid var(--primary);
    background: white;
}

input:focus + .dropdown {
    display: block;
}

#textfield {
    height: 42px;
    width: 200px;
    border: 1px solid var(--primary);
}

.dropdown {
    width: 200px;
}