:root {
    --primary: #5577BA;
    --secondary: #1e326e;
    --background: #DFDBDB;
    --text: #827C7C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*******************
HEADER
*******************/
header {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
}

header h1 {
    padding: 4vh;
}

/*******************
MAIN
*******************/
main {
    display: flex;
    min-height: 100vh;
}


/*******************
NAV ALL LISTS
*******************/
.all-lists {
    background-color: var(--secondary);
    width: 15%;
    color: var(--text);
    padding: 10px;
}

.list-item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

/*******************
MAIN NOTES
*******************/
.main-section {
    background-color: var(--background);
    text-align: center;
    width: 85%;
    padding: 40px;
    color: var(--text);
}

.all-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background-color: white;
    width: 30%;
    margin: 10px;
    padding: 40px 10px 80px 10px;
    border-radius: 20px;
}

.note h2 {
    padding-bottom: 20px;
}